In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
data <- read.csv("heart.csv")

In [4]:
head(data)

  ï..age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63     1   3  145      233  1   0       150     0     2.3     0     0  1
2 37     1   2  130      250  0   1       187     0     3.5     0     0  2
3 41     0   1  130      204  0   0       172     0     1.4     2     0  2
4 56     1   1  120      236  0   1       178     0     0.8     2     0  2
5 57     0   0  120      354  0   1       163     1     0.6     2     0  2
6 57     1   0  140      192  0   1       148     0     0.4     1     0  1
  target
1 1
2 1
3 1
4 1
5 1
6 1

In [5]:
tail(data)

    ï..age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
298 59     1   0  164      176  1   0        90     0     1.0     1     2  1
299 57     0   0  140      241  0   1       123     1     0.2     1     0  3
300 45     1   3  110      264  0   1       132     0     1.2     1     0  3
301 68     1   0  144      193  1   1       141     0     3.4     1     2  3
302 57     1   0  130      131  0   1       115     1     1.2     1     1  3
303 57     0   1  130      236  0   0       174     0     0.0     1     1  2
    target
298 0
299 0
300 0
301 0
302 0
303 0

Attribute Information:

        age
        sex
        chest pain type (4 values)
        resting blood pressure
        serum cholestoral in mg/dl
        fasting blood sugar > 120 mg/dl
        resting electrocardiographic results (values 0,1,2)
        maximum heart rate achieved
        exercise induced angina
        oldpeak = ST depression induced by exercise relative to rest
        the slope of the peak exercise ST segment
        number of major vessels (0-3) colored by flourosopy
        thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

Get a summary of the data

In [6]:
glimpse(data)

Observations: 303
Variables: 14
$ ï..age   <int> 63, 37, 41, 56, 57, 57, 56, 44, 52, 57, 54, 48, 49, 64, 58...
$ sex      <int> 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0...
$ cp       <int> 3, 2, 1, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 3, 3, 2, 2, 3, 0, 3...
$ trestbps <int> 145, 130, 130, 120, 120, 140, 140, 120, 172, 150, 140, 130...
$ chol     <int> 233, 250, 204, 236, 354, 192, 294, 263, 199, 168, 239, 275...
$ fbs      <int> 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0...
$ restecg  <int> 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1...
$ thalach  <int> 150, 187, 172, 178, 163, 148, 153, 173, 162, 174, 160, 139...
$ exang    <int> 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0...
$ oldpeak  <dbl> 2.3, 3.5, 1.4, 0.8, 0.6, 0.4, 1.3, 0.0, 0.5, 1.6, 1.2, 0.2...
$ slope    <int> 0, 0, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 0, 2, 2...
$ ca       <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2...
$ thal     <int> 1, 2, 2, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...
$ target   <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...

Get statistical summary of your data

Gives the values of a boxplot. Min, Max, 1st quartile, 2nd quartile, Mean, Median.

In [10]:
summary(data)

     ï..age           sex               cp           trestbps
 Min.   :29.00   Min.   :0.0000   Min.   :0.000   Min.   : 94.0
 1st Qu.:47.50   1st Qu.:0.0000   1st Qu.:0.000   1st Qu.:120.0
 Median :55.00   Median :1.0000   Median :1.000   Median :130.0
 Mean   :54.37   Mean   :0.6832   Mean   :0.967   Mean   :131.6
 3rd Qu.:61.00   3rd Qu.:1.0000   3rd Qu.:2.000   3rd Qu.:140.0
 Max.   :77.00   Max.   :1.0000   Max.   :3.000   Max.   :200.0
      chol            fbs            restecg          thalach
 Min.   :126.0   Min.   :0.0000   Min.   :0.0000   Min.   : 71.0
 1st Qu.:211.0   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:133.5
 Median :240.0   Median :0.0000   Median :1.0000   Median :153.0
 Mean   :246.3   Mean   :0.1485   Mean   :0.5281   Mean   :149.6
 3rd Qu.:274.5   3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:166.0
 Max.   :564.0   Max.   :1.0000   Max.   :2.0000   Max.   :202.0
     exang           oldpeak         slope             ca
 Min.   :0.0000   Min.   :0.00   Min.   :0.000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.00   1st Qu.:1.000   1st Qu.:0.0000
 Median :0.0000   Median :0.80   Median :1.000   Median :0.0000
 Mean   :0.3267   Mean   :1.04   Mean   :1.399   Mean   :0.7294
 3rd Qu.:1.0000   3rd Qu.:1.60   3rd Qu.:2.000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :6.20   Max.   :2.000   Max.   :4.0000
      thal           target
 Min.   :0.000   Min.   :0.0000
 1st Qu.:2.000   1st Qu.:0.0000
 Median :2.000   Median :1.0000
 Mean   :2.314   Mean   :0.5446
 3rd Qu.:3.000   3rd Qu.:1.0000
 Max.   :3.000   Max.   :1.0000

Get number of rows and columns

In [7]:
nrow(data)

[1] 303

In [8]:
ncol(data)

[1] 14

Get the names of the columns

In [9]:
colnames(data)

 [1] "ï..age"   "sex"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "target"

## Data Transformation

`%>%` is called the forward pipe operator in R. It provides a mechanism for chaining commands with a new forward-pipe operator, %>%. This operator will forward a value, or the result of an expression, into the next function call/expression.

In [ ]:
data2 <- data %>%
    mutate(sex = if_else(sex == 1, "MALE", "FEMALE"),
          fbs = if_else(fbs == 1, "> 120 mg/dl", "<= 120 mg/dl"),
          )